<hr>
<div class="row">
    <div class="col-md-8">
        <label>Product name: </label>
        <a href="#" id="name" data-mode="inline">{{name}}</a>
    </div>
    <div class="col-md-4">
        Qty: {{quantity}}
    </div>
</div>
